.fc {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    margin: 0 auto;
}

.fc .fc-toolbar.fc-header-toolbar {
    width: 90%;
    margin: 1rem auto;
}

/* ŠIPKY doleva a doprava */
.fc .fc-button-group > .fc-button {
    background: transparent;
    border: 1px solid var(--glass-border);
    border-radius: 30px;
}

.fc .fc-button-group > .fc-button:hover {
    border: 1px solid var(--red-color);
}

.fc .fc-button-group > .fc-button:focus {
    outline: none;
    box-shadow: none;
}

.fc .fc-button-group > .fc-button:focus-visible {
    box-shadow: var(--red-inner-shadow);
    border: 1px solid var(--red-color);
}

/* DEN - TÝDEN button */
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background: transparent;
    border: 1px solid var(--red-color);
        box-shadow: var(--red-inner-shadow);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    outline: none;
    box-shadow: none;
    box-shadow: var(--red-inner-shadow);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:hover, .fc .fc-button-primary:not(:disabled):active:hover {
    box-shadow: var(--red-inner-shadow);
}

/* TODAY button */
.fc-direction-ltr .fc-toolbar > * > :not(:first-child):not(:disabled) {
    background: var(--red-color);
    border: 1px solid var(--glass-border);
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child):not(:disabled):hover {
    background: var(--red-color-lighter);
    border: 1px solid var(--glass-border);
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    background: transparent;
    box-shadow: var(--red-inner-shadow);
    border: 1px solid var(--glass-border);
}

/* KALENDÁŘNÍ MŘÍŽKA */
.fc .fc-view-harness {
    padding: 1rem;
    border-top: 1px solid var(--glass-border);
}

.fc-theme-standard .fc-scrollgrid {
    background-color: var(--white-color);
    color: black;
}

.fc .fc-timegrid-slot {
    height: 50px;
}

.fc-col-header-cell.fc-day {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

/* eventy */
.event-rent-available {
    cursor: pointer !important;
    background-color: green !important;
}
.event-rent-booked {
    background-color: red !important;
    cursor: default !important;
}
.event-public {
    background-color: #FED403 !important;
}
.event-booked {
    background-color: red !important;
}
.event-maintenance {
    background-color: gray !important;
}
.event-school {
    background-color: lightblue !important;
}
/* víkend */
.fc-day-sat, 
.fc-day-sun {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/*
    dnešní den
*/
/* denní a týdenní rozložení */
.fc .fc-day-today .fc-scrollgrid-sync-inner {
    border-top: 2px solid var(--red-color);
    box-shadow: inset 0 19px 15px -13px var(--red-color-lighter);
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: transparent;
}

/* měsíční rozložení */
.fc .fc-daygrid-day.fc-day-today {
    background: transparent !important;
}

/* malý modálek při kliknutí na "+ 3 další" */
.fc .fc-popover,
.fc .fc-popover * {
    color: black;
}

.fc .fc-popover-header {
    background-color: #bcbaba;
}
.fc .fc-popover-body {
    background-color: #ddd9d9;
}